.ccpops-popup table, .mce-content-body table {
    border-collapse: collapse !important;
    table-layout: fixed !important;
    width: 100% !important;
    font-size: 14px;
    background-color: transparent;
}

@media(max-width:767px) {
    .ccpops-popup table {
        width: auto !important;
        min-width: 100%;
    }
}

.ccpops-popup tbody, .ccpops-popup thead, .ccpops-popup tr, .ccpops-popup td, .ccpops-popup th,
.mce-content-body tbody, .mce-content-body thead, .mce-content-body tr, .mce-content-body td, .mce-content-body th {
    border-color: inherit;
    width: auto !important;
}

.ccpops-popup tr, .mce-content-body tr {
    border: none;
    border-color: inherit;
}

.ccpops-popup td, .ccpops-popup th,
.mce-content-body td, .mce-content-body th {
    height: auto !important;
    border-width: 1px;
    border-style: solid;
    padding: 0.1em 0.3em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7em;
    background: transparent;
    background-color: transparent;
}

.ccpops-popup tr:after, .ccpops-popup td:after, .ccpops-popup th:after, .ccpops-popup td:before, .ccpops-popup th:before,
.mce-content-body tr:after, .mce-content-body td:after, .mce-content-body th:after, .mce-content-body td:before, .mce-content-body th:before {
    display: none !important;
}


/*Table custom classes*/
.ccpops-popup table.ccpops-table--odd-stripes tbody tr:nth-child(odd) td, .mce-content-body table.ccpops-table--odd-stripes tbody tr:nth-child(odd) td {
    background-color: #f2f2f2;
}

.ccpops-popup table.ccpops-table--even-stripes tbody tr:nth-child(even) td, .mce-content-body table.ccpops-table--even-stripes tbody tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.ccpops-popup table.ccpops-table--bottom-border-only td, .ccpops-popup table.ccpops-table--bottom-border-only th,
.mce-content-body table.ccpops-table--bottom-border-only td, .mce-content-body table.ccpops-table--bottom-border-only th {
    border-left: none;
    border-top: none;
    border-right: none;
}

.ccpops-popup table.ccpops-table--top-border-only td, .ccpops-popup table.ccpops-table--top-border-only th,
.mce-content-body table.ccpops-table--top-border-only td, .mce-content-body table.ccpops-table--top-border-only th {
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.ccpops-popup table.ccpops-table--side-border-only td, .ccpops-popup table.ccpops-table--side-border-only th,
.mce-content-body table.ccpops-table--side-border-only td, .mce-content-body table.ccpops-table--side-border-only th {
    border-bottom: none;
    border-top: none;
}

.mce-content-body td[data-mce-selected],
.mce-content-body th[data-mce-selected] {
    background: #b7dbff !important;
}
